@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<FeatureCard, FeatureCardSettings>>
@{
    var layoutClasses = Model.Settings?.GenerateTailwindClasses<ITwLayoutProperties>();
    var layoutGapClass = Model.Settings?.GenerateTailwindClasses<ITwLayoutGapProperties>();
    var alignItemsClass = Model.Settings?.GenerateTailwindClasses<ITwAlignItemsProperties>();
}

<div class="flex w-full flex-col @layoutClasses @layoutGapClass @alignItemsClass">
    <img src="@Model.Content.Icon.GetCropUrl()" width="32"/>
    <h1 class="text-lg">@Model.Content.Title</h1>
    <p class="text-md">@Model.Content.Subtitle</p>
    <a class="underline underline-offset-1" href="@Model.Content.CallToAction.Url">@Model.Content.CallToAction.Name</a>
</div>
