@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<HeroSectionBlock, HeroSectionCardSettings>>
@{
    var paddingStyle = Model.Settings?.GetPaddingStyle();
    var marginStyle = Model.Settings?.GetMarginStyle();
}

<div class="flex flex-col" style="@paddingStyle @marginStyle">
    <h1 class="text-3xl">@Model.Content.Title</h1>
    <p class="text-md">@Model.Content.Subtitle</p>
    <div class="flex gap-2">

        @if(Model.Content.PrimaryButton is not null)
        {
            <button class="btn btn-primary rounded-md">@Model.Content.PrimaryButton.Name</button>
        }

        @if (Model.Content.SecondaryButton is not null)
        {
            <button class="btn btn-outline btn-secondary rounded-md">@Model.Content.SecondaryButton.Name</button>
        }
    </div>
</div>
